<!DOCTYPE html>
<html lang="en">
<!-- 
Temperature and Rainfall: https://seasonal-api.open-meteo.com/v1/seasonal?latitude=52.52&longitude=13.41&daily=temperature_2m_max,precipitation_sum&start_date=2023-05-01&end_date=2023-06-01

Humidity: https://archive-api.open-meteo.com/v1/archive?latitude=52.52&longitude=13.41&start_date=2023-04-14&end_date=2023-04-14&hourly=relativehumidity_2m

-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>FarmEasy</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/068f1419a7.js" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    
    <script type="module" src="./index.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

        #search-box {
        width: 100%;
        top: 10px;
        left: 10px;        
        background-color: #fff;
        margin: 0 10px 8px 0;
        border-radius: 5px;
      }

      #search-results {
        position: absolute;
        /* top: 50px;
        left: 10px; */

        z-index: 999;
        background-color: #fff;
        max-height: 200px;
        max-width: 100%;
        width: 100%;
        overflow-y: scroll;
        /* padding: 5px; */
        border-radius: 5px;
      }

      #search-results li {
        list-style: none;
        /* margin: 5px 0; */
        /* padding: 5px;*/
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      #search-results li:hover {
        background-color: #f0f0f0;
      }

      #search-input {
        width: 100%;
      }

      .location-btn {
        position: absolute;
        bottom: 25px;
        right: 10px;
        z-index: 1000;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        cursor: pointer;
      }

      /* .fa-crosshairs {
        color: gray;
      }

      .fa-crosshairs:hover {
        color: black;
      } */

      #map-integration {
        margin: 16px 32px;
      }

    </style>
</head>

<body>
    <!-- NAVBAR -->
    {% include "navbar.html" %}

    <!-- <section id="location">
        <div id="curloc">
            <i class="fa-solid fa-location-dot fa-2x fag" style="color: black; padding-top: 20px; margin-top: 0px;"></i>
            <a class="btn btn-xs btn-outline-dark btn-curloc" href="" role="button">Use my current location</a>
        </div>
    
        <div id = "mapframe">
            <h5>You are here</h3>
            <div  style="width: 100%"><iframe width="300" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=400&amp;height=200&amp;hl=en&amp;q=Thadomal%20Shahani%20Engineering%20College%20Bandra%20Mumbai+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure distance on map</a></iframe></div>
    
        </div>
    </section> -->

    <div id="map-integration">
        <div id="search-box">
          <input type="text" id="search-input" placeholder="Search for a location..." />
        </div>
        <div id="search-results"></div>
        <div id="map" style="height: 40vh; width: 100%;"></div>
      </div>

    <section id="parameters">

        <form id="model1form" method="POST">
            <div class="para-cont">
                <div class="row para-row">
                    <div class="col para-item">
                        <label for="temperature" class="form-label parameter-head">Temperature (°C)</label>
                        <input type="number" class="form-control btn-para" id="temperature" name="temperature" placeholder="Enter temperature" required>
                    </div>
                    <div class="col para-item">
                        <label for="humidity" class="form-label parameter-head">Humidity (%)</label>
                        <input type="number" class="form-control btn-para" id="humidity" name="humidity" placeholder="Enter humidity" required>
                    </div>
                    <div class="col para-item">
                        <label for="rainfall" class="form-label parameter-head">Rainfall (mm)</label>
                        <input type="number" class="form-control btn-para" id="rainfall" name="rainfall" placeholder="Enter rainfall" required>
                    </div>
                    <div class="col para-item">
                        <label for="ph" class="form-label parameter-head">PH Value</label>
                        <input type="number" class="form-control btn-para" id="ph" name="ph" placeholder="Enter PH value" required>
                    </div>
                  </div>
    
                  <div class="row para-row">
                    <div class="col para-item">
                        <label for="n-val" class="form-label parameter-head">Nitrogen (N)</label>
                        <input type="number" class="form-control btn-para" id="n-val" name="n-val" placeholder="In %" >
                    </div>
                    <div class="col para-item">
                        <label for="p-val" class="form-label parameter-head">Phosporus (P)</label>
                        <input type="number" class="form-control btn-para" id="p-val" name="p-val" placeholder="In %" >
                    </div>
                    <div class="col para-item">
                        <label for="k-val" class="form-label parameter-head">Potassium (K)</label>
                        <input type="number" class="form-control btn-para" id="k-val" name="k-val" placeholder="In %" >
                    </div>
                    <button type="submit" class="btn btn-success btn-submit">Predict</button>
                  </div>
                
              </div>
        </form>

    </section>

    <script>
      function sum(arr) {
        var sum = 0;
        for (var i in arr) sum += parseInt(arr[i]);
        return sum;
      }

      function avg(arr){
        return sum(arr) / arr.length;
      }

      async function update_weather_stats(lat=52.52, lng=13.41) {
        
        var today = new Date();
        var fdDate = new Date(today.getFullYear(), today.getMonth(), 1).toISOString().split('T')[0];
        var ldDate = new Date(today.getFullYear(), today.getMonth() + 1, 0).toISOString().split('T')[0];

        var tr_data_link = `https://seasonal-api.open-meteo.com/v1/seasonal?latitude=${lat}&longitude=${lng}&daily=temperature_2m_max,precipitation_sum&start_date=${fdDate}&end_date=${ldDate}`

        var tr_data = (await (await fetch(tr_data_link)).json());

        console.log(tr_data);

        tr_data = tr_data["daily"];
        
        var t_data = tr_data["temperature_2m_max_member01"];
        var r_data = tr_data["precipitation_sum_member01"];

        var avg_temp = avg(t_data);
        var total_rainfall = sum(r_data);

        // console.log(avg_temp);
        // console.log(total_rainfall);

        var h_data_link = `https://archive-api.open-meteo.com/v1/archive?latitude=${lat}&longitude=${lng}&hourly=relativehumidity_2m&start_date=${fdDate}&end_date=${fdDate}`
        
        var h_data = (await (await fetch(h_data_link)).json());
        console.log(h_data);
        h_data = h_data["hourly"]["relativehumidity_2m"];

        var avg_humidity = avg(h_data);

        document.getElementById("temperature").value = avg_temp;
        document.getElementById("rainfall").value = total_rainfall;
        document.getElementById("humidity").value = avg_humidity;
      } 
      
      
    
      var lastMarker = null;
      var map = L.map('map').setView([51.505, -0.09], 13);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
        maxZoom: 18,
      }).addTo(map);

      function updateLocation(lat, lng) {
          lastMarker?.remove();
          document.querySelector(".leaflet-marker-icon")?.remove();
          document.querySelector(".leaflet-popup")?.remove();
          lastMarker = L.marker([lat, lng]);
          lastMarker.addTo(map);
          update_weather_stats(lat, lng);
      }

      updateLocation(51.505, -0.09);

      var searchInput = document.getElementById('search-input');
      var searchResults = document.getElementById('search-results');

      function searchLocation(query) {
        var url = 'https://nominatim.openstreetmap.org/search?q=' + encodeURIComponent(query) + '&format=json';
        fetch(url)
          .then(function(response) {
            return response.json();
          })
          .then(function(data) {
            var results = data.map(function(result) {
              return {
                name: result.display_name,
                latlng: L.latLng(result.lat, result.lon)
              };
            });

            displaySearchResults(results);
          })
          .catch(function(error) {
            console.error('Error searching for location:', error);
          });
      }

      function displaySearchResults(results) {
        var html = '';
        for (var i = 0; i < results.length; i++) {
          html += '<li data-lat="' + results[i].latlng.lat + '" data-lng="' + results[i].latlng.lng + '">' + results[i].name + '</li>';
        }
        searchResults.innerHTML = html;

        var resultItems = searchResults.getElementsByTagName('li');
        for (var i = 0; i < resultItems.length; i++) {
          resultItems[i].addEventListener('click', function() {
            var lat = this.getAttribute('data-lat');
            var lng = this.getAttribute('data-lng');
            map.setView(L.latLng(lat, lng), 13);
            updateLocation(lat, lng);
            searchResults.innerHTML = "";
          });
        }
      }

      searchInput.addEventListener('input', function() {
        var query = this.value.trim();
        if (query.length < 3) {
          searchResults.innerHTML = '';
          return;
        }

        searchLocation(query);
      });

      const locationBtn = L.DomUtil.create("div", "location-btn");
      locationBtn.innerHTML = `<i class="fa fa-crosshairs fa-2x" aria-hidden="true"></i>`;
      locationBtn.addEventListener("click", () => {
        map.locate({ setView: true, maxZoom: 16 });
      });

      map.on("locationfound", (e) => {
        const radius = e.accuracy / 2;
        updateLocation(e.latlng.lat, e.latlng.lng);
      });

      map.on("locationerror", (e) => {
        alert("Unable to fetch the current location. Please");
        console.log(e.message);
      });

      map.on("click", (e) => {
         updateLocation(e.latlng.lat, e.latlng.lng);
      });

      map.getContainer().appendChild(locationBtn);

      function submitForm() {
          // Get the form element
          const form = document.querySelector('#model1form');

          // Create a new FormData object and add the form data to it
          const formData = new FormData(form);

          // Create a new XMLHttpRequest object
          const xhr = new XMLHttpRequest();

          // Set the HTTP method and URL
          xhr.open('POST', '/crop-recommendation');

          // Set the content type header
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

          // Define the callback function to handle the response
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
              console.log(xhr.responseText);
            }
          };

          // Send the request
          xhr.send(formData);

      }
    </script>
</body>